<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
    <title>gallery</title>
    <!--ESTILOS-->
    <link rel="stylesheet" href='styles/css/profile.css'>
    <!--SCRIPT-->
    <script src="dist/timeago.min.js"></script>
</head>
    <body class="body">
        <%- include('./partials/header'); %>
        <main>
            <div class="card card-body text-center">
                perfil
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Sube tus imagenes!</p>
                    <a href="/profile/add">    AQUI!</a>
                </div>
            </div>
            <div class="container p-4">
                <div class="row">
                    <div class="card-columns">
                        <% imgs.forEach(function(imgs){ %>
                            <div class="card">
                                <img src="<%= imgs.imageURL%> " class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title"><%= imgs.title %></h5>
                                    <p class="card-text"><%= imgs.descripcion %></p>
                                    <p> <%= timeago(imgs.created_at)  %> </p>
                                    <a href="profile/delete/<%= imgs.id %>" class="btn btn-danger">Eliminar</a>
                                    <a href="profile/edit/<%= imgs.id %>" class="btn btn-secondary">Editar</a>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer'); %>
    </body>
</html>